blinker 
certifi 
charset-normalizer 
click 
Flask 
Flask-Login 
Flask-SQLAlchemy 
idna 
importlib_metadata 
itsdangerous 
Jinja2 
MarkupSafe 
names 
paho-mqtt 
PyMySQL 
pytz 
requests 
SQLAlchemy 
typing_extensions 
urllib3 
Werkzeug 
zipp 
barknotificator
