<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Smart Water Pet Feeder</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <style>
        .chart-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .chart-item-large {
            width: 100%;
            margin-bottom: 20px;
        }
        .chart-sub-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .chart-item {
            width: 32%;
        }
        .notifyWarn {
            margin-left: auto;
            margin-right: auto;
            display: none;
        }
        canvas {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Smart Water Pet Feeder</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/petmgmt">Pet Management</a></li>
            <li><a href="/drinkhistory">Pet Drink History</a></li>
            <li><a href="/noticeevent">Noticeable Events</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </nav>
    <div id="notification" style="width: 80%;">
        <div class="alert alert-warning" id="notifyWarn">
            <strong>Notice: </strong><p>Please wait while loading dashboard data</p>
        </div>
    </div>
    <div style="width: 80%; margin-left: auto; margin-right: auto;">
        <h1>Real-time Data</h1>
        <p>Note: The graphes will be refreshed per 5 seconds.</p>

        <div class="chart-container">
            <div class="chart-item-large">
                <h2>Summary</h2>
                <canvas id="summaryChart"></canvas>
            </div>
            <div class="chart-sub-container">
                <div class="chart-item">
                    <h2>Water Level</h2>
                    <p>Estimate water tank Remaining Date: {{estimate_water_level_remain_days}} Day(s)</p>
                    <p>&nbsp;</p>
                    <h3>Usage Chart</h3>
                    <canvas id="waterlevelChart"></canvas>
                </div>
                <div class="chart-item">
                    <h2>Turbidity (NTU Value)</h2>
                    <p>Water quality in bowl: <span id="water_quality_bowl"><b>Waiting for data</b></span></p>
                    <p><a href="/faq/ntu" title="NTU FAQ" target="_blank">FAQ: How does turbidity related to water quality?</a></p>
                    <canvas id="turbChart"></canvas>
                </div>
                <div class="chart-item">
                    <h2>Water Weight in bowl</h2>
                    <canvas id="weightChart"></canvas>
                </div>
            </div>
            <div class="chart-container">
                <div class="chart-item-large">
                    <h2>Smart Water Feeder Connection</h2>
                    <p>&nbsp;</p>
                    <p>Connection Type: <span id="conntype"> </span></p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>IP Address</th>
                                <th>RSSI</th>
                                <th>Feeder Last Seen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="ipaddrdisplay"></td>
                                <td><span id="rssidisplay"></span> (<span id="connquality"></span>)</td>
                                <td>{{ wificonn.lastseen }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <p>&nbsp;</p>

        <div style="margin-left: auto; margin-right: auto; width: 60%;">
            <h2>Remote control options</h2>
            <button type="button" id="RefreshPage" class="btn">Manual Refresh this page</button>
            <button type="button" id="ChangeWater" class="btn btn-primary">Change Water in bowl</button>
            <button type="button" id="RefillWater" class="btn btn-primary">Refill Water in bowl</button>
            <button type="button" id="IntakeAnalysis" class="btn btn-primary">Manual Trigger water intake analysis</button>
            <button type="button" id="ResetFeeder" class="btn btn-danger">Restart Water Feeder</button>
        </div>
        <script>
            const waterlevelCtx = document.getElementById('waterlevelChart').getContext('2d');
            const waterlevelChart = new Chart(waterlevelCtx, {
                type: 'line',
                data: {
                    labels: ['Water Level'],
                    datasets: [{
                        label: 'Water Level',
                        data: [],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            const weightCtx = document.getElementById('weightChart').getContext('2d');
            const weightChart = new Chart(weightCtx, {
                type: 'line',
                data: {
                    labels: ['Weight'],
                    datasets: [{
                        label: 'Weight',
                        data: [],
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            const turbCtx = document.getElementById('turbChart').getContext('2d');
            const turbChart = new Chart(turbCtx, {
                type: 'line',
                data: {
                    labels: ['Turbidity'],
                    datasets: [{
                        label: 'Turbidity',
                        data: [],
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            const summaryCtx = document.getElementById('summaryChart').getContext('2d');
            const summaryChart = new Chart(summaryCtx, {
                type: 'line',
                data: {
                    labels: ['Water Level', 'Turbidity', 'Weight'],
                    datasets: [{
                        label: 'Water Level',
                        data: [],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Turbidity',
                        data: [],
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Weight',
                        data: [],
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            let waterlevelHistory = [];
            let weightHistory = [];
            let turbHistory = [];
            let timeLabels = [];

            setInterval(() => {
                fetch('/mqtt_data')
                    .then(response => response.json())
                    .then(data => {
                        let currentTime = new Date().toLocaleTimeString();

                        waterlevelHistory.push(data.wastewaterlevel);
                        weightHistory.push(data.weightBowl);
                        turbHistory.push(data.turbiditysensor);
                        timeLabels.push(currentTime); 

                        if (waterlevelHistory.length > 100) {
                            waterlevelHistory.shift();
                            timeLabels.shift();
                        }
                        if (weightHistory.length > 100) {
                            weightHistory.shift();
                        }

                        if (isNaN(data.turbiditysensor)) {
                            document.getElementById("water_quality_bowl").innerHTML = "<b>No sensor detected</b>";
                            document.getElementById("notifyWarn").style.display = "block";
                        } else if (data.turbiditysensor <= 1) {
                            document.getElementById("water_quality_bowl").innerHTML = "<b>Good</b>";
                            document.getElementById("notifyWarn").style.display = "none";
                        } else if (data.turbiditysensor <= 4.9) {
                            document.getElementById("water_quality_bowl").innerHTML = "<b>Fair</b>";
                            document.getElementById("notifyWarn").style.display = "none";
                        } else {
                            document.getElementById("water_quality_bowl").innerHTML = "<b>Bad</b>";
                            document.getElementById("notifyWarn").innerHTML = "<strong>Warning: </strong>Change water in bowl is necessary.";
                            document.getElementById("notifyWarn").style.display = "block";
                        }

                        waterlevelChart.data.labels = timeLabels;
                        waterlevelChart.data.datasets[0].data = waterlevelHistory;
                        waterlevelChart.update();

                        weightChart.data.labels = timeLabels;
                        weightChart.data.datasets[0].data = weightHistory;
                        weightChart.update();

                        turbChart.data.labels = timeLabels;
                        turbChart.data.datasets[0].data = turbHistory;
                        turbChart.update();

                        summaryChart.data.labels = timeLabels;
                        summaryChart.data.datasets[0].data = waterlevelHistory;
                        summaryChart.data.datasets[1].data = turbHistory;
                        summaryChart.data.datasets[2].data = weightHistory;
                        summaryChart.update();
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }, 5000);

            setInterval(() => {
                fetch('/conn_data')
                    .then(response => response.json())
                    .then(conndata => {
                        document.getElementById("ipaddrdisplay").innerHTML = "<p>" + conndata.ipaddr + "</p>";
                        document.getElementById("rssidisplay").innerText = conndata.rssi;
                        if (conndata.rssi > 80 && conndata.rssi <= 99){
                            document.getElementById("conntype").innerHTML = "<b>Wi-Fi</b>";
                            document.getElementById("connquality").innerHTML = "<b style='color: red;'>Poor</b>";
                        } else if (conndata.rssi > 67 && conndata.rssi <= 80) {
                            document.getElementById("conntype").innerHTML = "<b>Wi-Fi</b>";
                            document.getElementById("connquality").innerHTML = "<b style='color: orange;'>Fair</b>";
                        } else if (conndata.rssi >= 0 && conndata.rssi <= 67) {
                            document.getElementById("conntype").innerHTML = "<b>Wi-Fi</b>";
                            document.getElementById("connquality").innerHTML = "<b style='color: green;'>Good</b>";
                        } else {
                            document.getElementById("conntype").innerHTML = "<b>Copper (Network Cable) or unknown</b>";
                            document.getElementById("connquality").innerHTML = "<b style='color: gray;'>Unknown or copper connection</b>";
                        }
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }, 2000);
        </script>
    </div>
</body>
</html>
